<div class="palm-scene palm-hasheader">
  <div class="palm-header">
    <div class="palm-header-wrapper">
      <img src="icon.png" style="float: left; padding-top: 8px; margin-right: 10px" width="32" height="32" />
      <div style="float: left">Dreams</div>
<!--
      <div style="float: right">
        <div x-mojo-element="ListSelector" id="sort" class="title"></div>
      </div>
-->
    </div>
  </div>
  <div class="palm-header-spacer"></div>
 
<!-- 
  <div id="search" style="position: fixed; top: 10px; width: 100%">
    <div class="palm-group">
      <div class="palm-list">
        <div class="palm-row single">
          <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title">
              <div x-mojo-element="SmartTextField" id="searchr"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->

  <div id="dreams" class="palm-list opaque" x-mojo-element="List"></div>

  <div class="palm-scrim" id="spinnerScrim">
    <div x-mojo-element="Spinner" id="mojoSpinner" name="mojoSpinner"></div>
  </div>
</div>
