<div class="palm-scene palm-hasheader has-search-bar-top">

  <div class="palm-header-spacer" style="height: 54px"></div>
  
  <div class="search-bar-top">
    <div class="filter-field-container" x-mojo-focus-highlight="true" style="padding-bottom: 14px">
      <div class="filter-field-wrapper">
        <div class="palm-row single">
          <div class="palm-row-wrapper textfield-group">
            <div class="title">
              <div id="searchr" x-mojo-element="TextField"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="dreams" class="palm-list opaque" x-mojo-element="List"></div>

  <div class="palm-scrim" id="spinnerScrim">
    <div x-mojo-element="Spinner" id="mojoSpinner" name="mojoSpinner"></div>
  </div>
</div>
