<div class="palm-scene palm-hasheader no-wifi-scene">
  <div class="palm-fullscreen-error">
    <div class="large-icon error"></div>
    <div class="fullscreen-message">Enter your Password to Continue</div>
    
    <div class="palm-group not-opaque">
      <div class="palm-group-title" x-mojo-loc=''>Password</div>
        <div class="palm-list">

          <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group">
              <div class="title">
                <div x-mojo-element="PasswordField" id="passwordField"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div x-mojo-element="Button" id="signIn"></div>

    <div class="palm-inline-error" id="errorWrapper">
      <div class="error-message" id="error_message"></div>
    </div>

  </div>
</div>
