<div class="palm-scene">

  <div class="palm-group not-opaque">
    <div class="palm-group-title" x-mojo-loc=''>Security Settings</div>
      <div class="palm-list">

        <div class="palm-row first">
          <div class="palm-row-wrapper">
            <div x-mojo-element="ToggleButton" id="passwordProtect"></div>
            <div class='label left'>Password Protect</div>
          </div>
        </div>

        <div class="palm-row last">
          <div class="palm-row-wrapper textfield-group">
            <div class="title">
              <div x-mojo-element="TextField" id="passwordLock"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="palm-group not-opaque">
    <div class="palm-group-title" x-mojo-loc=''>Display Settings</div>
      <div class="palm-list">

        <div class="palm-row first">
          <div class="palm-row-wrapper">
            <div x-mojo-element="ListSelector" id="themeSelector"></div>
          </div>
        </div>

        <div class="palm-row">
          <div class="palm-row-wrapper">
            <div x-mojo-element="ToggleButton" id="allowRotateToggle"></div>
            <div class='label left'>Allow Landscape</div>
          </div>
        </div>

        <div class="palm-row">
          <div class="palm-row-wrapper">
            <div x-mojo-element="ToggleButton" id="alwaysOn"></div>
            <div class='label left'>Disable Screen Timeout</div>
          </div>
        </div>

        <div class="palm-row">
          <div class="palm-row-wrapper textfield-group">
            <div x-mojo-element="Button" id="backgroundPicker"></div>
          </div>
        </div>

        <div class="palm-row last">
          <div class="palm-row-wrapper">
            <div class="title">Background Brightness</div>
            <div x-mojo-element="Slider" id="brightnessSlider" class="palm-slider"></div>
          </div>
        </div>

      </div>
  </div>

  <div class="palm-group not-opaque">
    <div class="palm-group-title" x-mojo-loc=''>Data Management</div>
      <div class="palm-list">

        <div class="palm-row first">
          <div class="palm-row-wrapper">
            <div x-mojo-element="Button" id="dataPicker"></div>
          </div>
        </div>

        <div class="palm-row last">
          <div class="palm-row-wrapper">
            <div x-mojo-element="Button" id="deleteAll"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="palm-scrim" id="scrim"></div>
