<div class="palm-scene">

  <div class="palm-list opaque">

    <div class="palm-row first">
      <div class="palm-row-wrapper textfield-group">
        <div x-mojo-element="RichTextEdit" id="richDream" class="message-rte" name="richDream" style="min-height: 230px"></div>
      </div>
    </div>

    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div class="title datetime-picker">
          <div x-mojo-element="DatePicker" id="dreamDate" name="dreamDate"></div>
        </div>
      </div>
    </div>
    
    <div class="palm-row last">
      <div class="palm-row-wrapper textfield-group">
        <div class="title">
          <div x-mojo-element="TextField" id="txtTitle" name="txtTitle"></div>
        </div>
      </div>
    </div>

  </div>

</div>
